<div id="container">
  <img src="/assets/images/sw_logo.png" alt="logo_star_wars">
  <h3>{{message}}</h3>
  <mat-card id="container-select" *ngIf="(films$ | async) as films">
    <mat-form-field>
      <mat-label>Selectionner votre film</mat-label>
      <mat-select [(ngModel)]="selectedFilm">
        <mat-option *ngFor="let f of films" [value]="f">
          {{f.title}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-stroked-button color="primary" (click)="toggle()">Afficher</button>
  </mat-card>
</div>

<div id="container-loading" *ngIf="loading">
  <img class="rotate-center" src="../../../assets/images/dark-vador.png" alt="dark-vador">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>


<div id="container-child" *ngIf="show">
  <app-movie-details-component [filmDetails]="printFilm"></app-movie-details-component>
  <app-movie-characters-component></app-movie-characters-component>
</div>
