<div id="container">
  <div id="container-message">
    <h1>
      {{message}}
    </h1>
  </div>
  <mat-card id="container-select" *ngIf="(films$ | async) as films">
    <mat-form-field>
      <mat-select [(ngModel)]="selectedFilm" placeholder="Selectionner votre film">
        <mat-option *ngFor="let f of films" [value]="f">
          {{f.title}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card>
  <div id="container-button">
    <button mat-stroked-button color="primary" (click)="toggle()" *ngIf="button">Afficher</button>
  </div>
</div>


<div id="container-loading" *ngIf="loading">
  <img class="rotate-center" src="../../../assets/images/dark-vador.png" alt="dark-vador">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<div id="container-child" *ngIf="show">
  <h1>Détails du film</h1>
  <app-movie-details-component [filmDetails]="film"></app-movie-details-component>
  <h1>Détails des personnages jouant dans ce film</h1>
  <app-movie-characters-component></app-movie-characters-component>
</div>