mat-card {
    background-color: #343434;
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

#container {
    width: 100%;
    display: flex;
    justify-content: center;
}