div {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

mat-card {
  width: 400px;
  margin: 20px;
  border-radius: 0;
  border: 1px solid #ffe81f;
  background-color: rgba(0, 0, 0, 0);
  color: #e6e1b6c2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-card mat-card-header mat-card-title {
  font-size: 17px;
}