<div id="container">
  <div id="container-mat-card">
    <mat-card *ngFor="let p of people" [ngSwitch]="p.gender">
      <mat-card-header>
        <mat-card-title>{{ p.name  | uppercase }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-chip-list aria-label="Details Characters">
          <div>
            <p>Sexe</p>
            <mat-chip *ngSwitchCase="'male'" color="accent" selected>M</mat-chip>
            <mat-chip *ngSwitchCase="'female'" color="accent" selected>F</mat-chip>
            <mat-chip *ngSwitchCase="'n/a'" color="accent" selected>N/A</mat-chip>
            <mat-chip *ngSwitchCase="'none'" color="accent" selected>NONE</mat-chip>
            <mat-chip *ngSwitchCase="'hermaphrodite'" color="accent" selected>H</mat-chip>
          </div>
          <div>
            <p>Birthday</p>
            <mat-chip color="accent" selected>{{ p.birth_year | uppercase }}</mat-chip>
          </div>
          <div>
            <p>Height</p>
            <mat-chip color="accent" selected>{{ p.height | uppercase }}cm</mat-chip>
          </div>
          <div>
            <p>Hair color</p>
            <mat-chip color="accent" selected>{{ p.hair_color | uppercase}}</mat-chip>
          </div>
          <div>
            <p>Eye color</p>
            <mat-chip color="accent" selected>{{ p.eye_color | uppercase }}</mat-chip>
          </div>
        </mat-chip-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>