/* You can add global styles to this file, and also import other style files */

html,
body {
  max-width: 100%;
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  margin: 0;
  color: #fff;
  background: radial-gradient(ellipse at bottom, #1C2837 0%, #050608 100%);
  background-size: cover;
}
